@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
  text-decoration: underline overline;

}
h3{
  border-left: 4px dotted blue;
  border-right: 4px dotted green;
}
img{
  border-radius: 30px;
  border-right: 4px dotted red;
  border-left: 4px dotted yellow;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  border: 5px solid pink;
  box-shadow: 4px 9px;

}
